
<section class="contact-form">
    <h2>Contactanos</h2>
    <form (submit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your full name" required />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your email address" required />
      </div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" placeholder="Subject of your message" />
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" placeholder="Write your message here" required></textarea>
      </div>
      <button type="submit" class="btn-submit">Send Message</button>
    </form>
  </section>

  <h2 style="color: brown;">Nuestras siguientes ubicaciones</h2>
  <div class="Oficinas-Global">
    <div class="Oficinas-Locales">
        <h3>Oficinas Locales</h3>
        <p>Av. 1ra. Sur 123, Col. Centro, C.P. 12345, Ciudad de México, México</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
          
    </div>
    <div class="Oficinas-Locales">
        <h3>Oficinas Puerto Madero</h3>
        <p>Calle Don Segundo, Ciudad de México, México</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
    </div>
    <div class="Oficinas-Locales">
        <h3>Oficinas Chasquipampa</h3>
        <p>Av. 1ra. Sur 123, Col. Centro, cerca a Villa. V</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
    </div>
    <div class="Oficinas-Locales">
        <h3>Oficinas Calacoto</h3>
        <p>Calle entrando PumaKatari</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
    </div>
    <div class="Oficinas-Locales">
        <h3>Oficinas Calacoto</h3>
        <p>Calle entrando PumaKatari</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
    </div>
    <div class="Oficinas-Locales">
        <h3>Oficinas Locales</h3>
        <p>Av. 1ra. Sur 123, Col. Centro, C.P. 12345, Ciudad de México, México</p>
        <p>
            <img src="assets/images/telephone-svgrepo-com.svg" alt="Phone Icon" class="phone-icon"> 
            +123 456 789 982
        </p>
    </div>   
  </div>
  