/* Estilos generales para el navbar */
nav {
  background-color: #5C4033;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 50px;
  height: auto;
}

/* Estilo para los enlaces del navbar */
.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-links a:hover {
  color: #333;
  background-color: #846c0b;
}

/* Estilos para el formulario de búsqueda */
form {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-wrap: wrap;
}

input[type="text"] {
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  width: 250px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #604e07;
  box-shadow: 0 0 8px rgba(241, 196, 15, 0.5);
  outline: none;
}

button {
  background-color: #cc9922;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #a47b13;
}

button:focus {
  outline: none;
}

/* Responsividad: ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  /* Ocultar los enlaces del navbar por defecto */
  .navbar-links-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 250px;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  /* Mostrar los enlaces cuando el menú está abierto */
  .navbar-links-container.show {
    display: block;
    transform: translateX(0);
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  form {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  input[type="text"] {
    width: 90%;
    margin-bottom: 10px;
  }

  button {
    width: 90%;
  }

  .menu-toggle {
    display: block;
  }
}


 /* Cambiar color de los enlaces a negro cuando se abre el menú en móvil */
 .navbar-links-container.show .navbar-links a {
  color: black; /* Enlaces en negro cuando se abre el menú */
}

.menu-toggle {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/* Eliminar el efecto hover en el botón de la hamburguesa */
.menu-toggle:hover {
  background-color: transparent; 
  color: white; 
  transform: none; 
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}
